*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    background-color: #000;
    height: 200px;
    font-size: 22px;
    border: 5px solid yellow;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: space-between;
}

.logo img{
    height: 180px;
    padding: 10px;
    float: left;
    padding-top: 20px;
}

.navbar{
    float: right;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    display: inline-block;
    padding-top: 50px;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    padding: 20px;
}

.navbar a:hover{
    color: yellow;
    background-color: rgba(98, 0, 255, 0.363);
    border: 1px solid yellow;
}

main{
    height: 150vh;
    background-color: #111;
    background-size: cover;
    color: #fff;
}

main p{
    font-size: 24px;
    padding-top: 110vh;
    padding-left: 20%;
    width: 80%;
    text-align: center;
}

.img-portada{
    height: 70vhpx;
    background-color: #111;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 10px;
}

.portada img{
    height: auto;
    width: 65vh;
    border-radius: 10px;
}

h2{
    font-weight: bold;
}

article{
    height: calc(100vh - 300px);
    background-color: #111;
    background-size: cover;
    color: #fff;
    font-size: 24px;
}

.lavados{
    height: calc(100vh - 300px);
    background-color: #111;

}

.lavados-img{
    float: right;
    height: 60vh;
    margin-right: 8vh;
}

.lavados-titulo{
    font-size: 40px;
    margin-right: 70vh;
    text-align: right;
}

.lavados-txt{
    font-size: 25px;
    margin-right: 70vh;
    text-align: right;
}

.detail{
    height: calc(100vh - 300px);
    background-color: #111;

}

.detail-img{
    float: left;
    height: 68vh;
    margin-left: 15vh;
}

.detail-titulo{
    font-size: 40px;
    margin-left: 70vh;
    text-align: justify;
}

.detail-txt{
    font-size: 25px;
    margin-left: 70vh;
    text-align: justify;
    margin-right: 5vh;
}

.fotos{
    height: calc(330vh);
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotos-img{
    height: 68vh;
}

.fotos-titulo{
    font-size: 40px;
    text-align: center;
    padding: 30px;
}

.nosotros{
    height: calc(100vh - 300px);
    background-color: #111;

}

.nosotros-img{
    float: left;
    height: 68vh;
}

.nosotros-titulo{
    font-size: 40px;
    margin-left: 70vh;
    text-align: justify;
}

.nosotros-txt{
    font-size: 25px;
    margin-left: 70vh;
    text-align: justify;
}

.contacto{
    display: grid;
    text-align: right;
}

form{ /*falta dar formato*/ 
    display: grid; 
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.form{
    color: #fff;
    background-color: #000;
    border: 5px solid yellow;
    padding: 10px 100px;
    text-align: left;
    text-transform: capitalize;
    object-position: center;
    margin-left: 10vh;    
}

.form2{
    color: #fff;
    background-color: #000;
    border: 5px solid yellow;
    padding: 10px 100px;
    text-align: left;
    text-transform: capitalize;
    object-position: center;
    margin-left: 10vh;  
}

.boton-enviar{
    color: #fff;
    background-color: rgba(136, 12, 253, 0.507);
    justify-content: end;
}

footer{
    background-color: #000;
    height: 100px;
    font-size: 10px;
    border: 5px solid yellow;
    text-transform: uppercase;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer a:hover{
    color: blueviolet;
    background-color: yellow;
    border: 1px solid yellow;
}

.btn-contacto{
    padding: 20px;
}

footer p{
    color: #fff;
    margin-left: 20px;
}

footer i{
    color: yellow;
    font-size: 25px;
    float: right;
    margin-top: 25px;
    padding: 10px;
}

footer i:hover{
    color: blueviolet;
    background-color: yellow;
    border: 1px solid yellow;
}

.whats{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 105px;
    right: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1 10px rgba(0,0,0,0.3);
    z-index: 100;
}

.whats:hover{
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
}

.subir{
    height: 30px;
    width: 30px;
    background-color: blueviolet;
    color: #fff;
    position: fixed;
    bottom: 1%;
    left: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    box-shadow: 0 0 5px #fff;
}