*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    background-color: #000;
    height: 200px;
    font-size: 22px;
    border: 5px solid yellow;
    text-transform: capitalize;
}

.navbar-brand{
    width: 35%;
}

.nav-item{
    display: inline-block;
    padding-top: 50px;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    padding: 20px;
}

.navbar a:hover{
    color: yellow;
    background-color: rgba(98, 0, 255, 0.363);
    border: 1px solid yellow;
    box-shadow: 2px 2px 10px rgba(255, 255, 0, 0.863);
}

main{
    height: 120vh;
    background-color: #111;
    background-size: cover;
    color: #fff;
}

.resp{
    background-color: #111;
    background-size: cover;
    min-height: calc(100vh - 300px);
}

article{
    background-color: #111;
    background-size: cover;
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding-left: 10% !important;
    padding-right: 10% !important;
}

section{
    background-color: #111;
}

.lavados{
    margin-top: 200px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.lavados-txt{
    width: 100%;
    text-align: end;
}

.carousel-item{
    justify-content: flex-end;
    height:600px !important;
}

section img{
    justify-content: flex-end;
    height: 600px;
    margin-top: 20px;
}

.inicio{
    margin-top: 200px;
}

.fotos{
    padding: 40px;
}

.contacto{
    margin-top: 200px;
    height: auto;
    color: #fff;
}

form{
    height: 57vh;
}

.form-control{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #000;
    border: 2px solid yellow;
    box-shadow: 5px 5px 20px rgba(93, 1, 239, 0.488);
}

.btn-enviar{
    background-color: blueviolet;
    border: none;
}

footer{
    background-color: #000;
    height: 100px;
    font-size: 10px;
    border: 5px solid yellow;
    text-transform: uppercase;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer a:hover{
    color: blueviolet;
    background-color: yellow;
    border: 1px solid yellow;
}

.btn-contacto{
    padding: 20px;
}

footer p{
    color: #fff;
    margin-left: 20px;
}

footer i{
    color: yellow;
    font-size: 25px;
    float: right;
    margin-top: 25px;
    padding: 10px;
}

footer i:hover{
    color: blueviolet;
    background-color: yellow;
    border: 1px solid yellow;
}

.whats{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 105px;
    right: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1 10px rgba(0,0,0,0.3);
    z-index: 100;
}

.whats:hover{
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
}

/*inicia media queries*/
@media (min-width: 2000px){
    .navbar-brand{
        width: 25%;
    }
}
@media (min-width: 3000px){
    .navbar-brand{
        width: 10%;
    }
}
@media (max-width: 768px){
    .lavados{
        flex-wrap: wrap;
        width: auto;
        justify-content: center;
    }
}
@media (min-width: 768px){
    .lavados-txt{
            width: 180%;
        }
}